.suggestions-grid {
  display: grid;
  grid-template-columns: repeat(2, 400px); 
  gap: 35px;
  justify-content: center;
}


.suggestion-card {
  background: white;
  width: 400px;
  height: 70px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}


.suggestion-card:hover {
  transform: translateY(-5px);
}

.suggestion-card h4 {
  margin: 0 0 0.5rem;
}

.suggestion-card p {
  color: #888;
  font-size: 0.9rem;
}
